.main{
  // background-color: rgb(243, 247, 247);
  width: 100%;
  height: 150px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  .reserch{
    
  .search-form{
    position:relative;
    margin-bottom:20px;
    .sbox2{
      margin-left: 50px;
      box-sizing: border-box;
      border: 1px solid #999;
      padding: 3px 10px;
      border-radius: 20px;
      height: 2.3em;
      width: 300px;
      overflow: hidden;
    }
    .sbtn2{
      height:50px;
      position: relative;; 
      right:55px;/*アイコン左右の位置調整*/
      cursor: pointer;
      font-size: 1.3em;
      border: none;
      background: none;
      color: #3879D9;
      width: 2.5em;
      height: 2.5em;
      outline : none;
          }
  }
  }
  .reserch{
    padding-top: 20px;
  }
  .about{
    padding-top:20px ; 
    .user-lists{
     
    }
    .tweet-lists{
      padding:0px 20px 0px 20px;
    }
    .user-lists{
      
    }
  }

  a{
    text-decoration: none;
  }

}