.tweet_color{
  background-image: linear-gradient(to bottom, #BCBCBC 0%, #D9D9D9 26%, #EFEFEF 49%, #E0E0E0 74%, #D3D3D3 100%), linear-gradient(to bottom, #BCBCBC 0%, #D9D9D9 26%, #EFEFEF 49%, #E0E0E0 74%, #D3D3D3 100%), linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 150%), radial-gradient(at 50% 59%, rgba(255, 255, 255, 0.3) 66%, rgba(0, 0, 0, 0.3) 200%);
  background-blend-mode: multiply,multiply,screen; 
  width: 100%;
  height: 100%;
  .tweet_about{
    display: flex;
    height: 100%;
    width: 100%;
    .left_said{
      display: flex;
      justify-content: center;
      width: 50%;
      .tweet{
      
        .tweet__title{
          display: flex;
          justify-content: center;
          padding-top: 30px;
          .edit{
            background: #a7d9e0;
          border: 1px solid #94e9f7;
          color: white;
          width: 100px;
          height: 48px;
          font-size: 14px;
          margin-bottom: 20px;
          cursor: pointer;
          margin-left: 7px;
          }
        }
        .tweet__image  img{
            width: 400px;
            height: 200px;
            padding-top: 30px;
        }
        .tweet__text{
          padding-top: 30px;
          display: flex;
          justify-content: center;
        }
        .tweet__user-link{
          padding-top: 30px;
          display: flex;
          justify-content: center;
        }
      }
    }
    .right_said{
      display: flex;
      justify-content: center;
      width: 50%;
      .tweet2{
        padding-top: 30px;
      .tweet__comment {
        .comment{
          width: 300px;
          height: 48px;
        }
        input{
          background: #a7d9e0;
          border: 1px solid #17c1db;
          color: white;
          width: 300px;
          height: 48px;
          font-size: 14px;
          margin-bottom: 20px;
          cursor: pointer;
          // margin-left: 7px;
        }
        
        .comments{
          padding-top: 10px;
        }
        p{
          padding-top: 10px;
        }
      }
    }
    
    }
    a{
      text-decoration: none;
      color: darkcyan;
      font-style: italic;
    }
  }
}