
.users{
  display: flex;
  flex-wrap: wrap;
  .users__lists{
    padding-top: 10px;
    padding-left: 75px;
    .users__lists__list{
      box-shadow: 10px 15px 25px rgba(0,0,0,0.30);
        background-image: linear-gradient(to bottom, #e7e2e2 0%, #D9D9D9 26%, #EFEFEF 49%, #E0E0E0 74%, #D3D3D3 100%), linear-gradient(to bottom, #e4e0e0 0%, #D9D9D9 26%, #EFEFEF 49%, #E0E0E0 74%, #D3D3D3 100%), linear-gradient(to bottom, rgba(255, 255, 255, 0.972) 0%, rgba(0, 0, 0, 0.2) 150%), radial-gradient(at 50% 59%, rgba(255, 255, 255, 0.3) 66%, rgba(233, 230, 230, 0.3) 200%);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all .3s;
        transition: all .3s;
        border: 1px solid rgb(247, 242, 242) ;
        width: 200px;
        margin-left: 20px;
        text-align: center;
        
      .users__lists__list__image{
        display: flex;
        justify-content: center;
        padding-top: 10px;
        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
      }
      .users__lists__list__name{
       padding-top: 10px;
     
      }
      a{
        text-decoration: none;
        color: darkcyan;
        font-style: italic;
      }
    }
    .users__lists__list:hover {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
     }
  }
}