
 .profile_image{
   border-radius: 50%;
 }

.header{
  background-color: black;
  height: 100px;
  width: 100vw;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  .header__title{
    padding-left: 50px;
  }
  a{
    text-decoration: none;
    color: cornsilk;
  }
  .header__log_out{
    padding-right: 1100px;
    .header__log_out__log_in{
    }
  }

}

 @import "reset";
 @import "modules/user";
 @import "tweets";
