.profile_image{
  border-radius: 50%;
}

.header{
  // background-color: rgb(151, 155, 155);
 height: 100px;
 width: 100%;
 display: flex;
 align-items: center;
 border-bottom: 1px solid #ddd;
 .header__title{
  padding-left: 20px;
 }
 .header__log_out{
   .header__log_out__log_in{
    .mypage{
      padding-left: 16px;
      font-size: 12px;
    }
    .logout{
      padding-left: 16px;
      font-size: 12px;
    }
  }
 }

 a{
  text-decoration: none;
  color: cornsilk;
  font-size: 15px;
  }
}