.users{
  background:rgb(15, 15, 15);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  .users__lists{
    padding-top: 10px;
    padding-left: 75px;
    .users__lists__list{
      background:rgb(94, 92, 92);
      height: 40vh;
      width: 25vw;
      border-radius: 5%;
      border: 1px solid rgb(247, 242, 242) ;
      .users__lists__list__image{
        display: flex;
        justify-content: center;
        padding-top: 10px;
        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
      }
      .users__lists__list__name{
       padding-top: 100px;
      }
    }
  }
}

.user_profile{
  background:rgb(15, 15, 15);
  height: 50vh;
  width: 100vw;
  border-bottom: 1px solid #ddd;
  position: relative;
  .user_profile__show{
    padding-top: 10px;
    padding-left: 350px;
    .user_profile__show__details{
      background:rgb(94, 92, 92);
      height: 40vh;
      width: 50vw;
      border-radius: 5%;
      border: 1px solid rgb(247, 242, 242);
      .user_profile__show__details_image{
        display: flex;
        justify-content: center;
        padding-top: 10px;
        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
      }
    }
  }
}

.user_tweet{
  background:rgb(15, 15, 15);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  .user_tweet__lists{
    padding-top: 10px;
    padding-left: 75px;
    .user_tweet__lists__list{
      background:rgb(94, 92, 92);
      height: 40vh;
      width: 25vw;
      border-radius: 5%;
      border: 1px solid rgb(247, 242, 242) ;
      .user_tweet__lists__list__image{
        display: flex;
        justify-content: center;
        padding-top: 10px;
        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
      }
    }
  }
}

.user_edit{
  background:rgb(15, 15, 15);
  height: 100vh;
  width: 100vw;
  color:#fff;
  
}